<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contatos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let c of contatos">
    <ion-card-title>{{c.nome}}</ion-card-title>
    <ion-card-subtitle>{{c.email}}</ion-card-subtitle>
    <ion-card-subtitle>{{c.telefone}}</ion-card-subtitle>
    <ion-card-content>
      <ion-button>Alterar</ion-button>
      <ion-button>Excluir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


